.app {
  padding: 5.5rem 34.5rem 5rem 28.8rem;
  font-family: 'Montserrat', 'sans-serif';
}

.main-container {
  border: 3px solid black;
  margin-top: 4.5rem;

  border-radius: 8px;

  min-height: 62.5rem;
}
