 div(class="main-container")
        main(class="radio")
          label(for="merriweather" class="radio__label radio__label_is--merriweather")
            input(type="radio" checked id="merriweather" name="fontselect" class="radio__input") 
            div(class="radio__letter radio__letter_merriweather")
              div(class="radio__letter-abs-wrapper")
                i(class="radio__letter-abs radio__letter-abs_is--merriweather")  M
            ul(class="radio__list")
              li(class="radio__list-item") Merriweather project is led by Sorkin Type
          
          label(for="roboto" class="radio__label radio__label_is--roboto")
            input(type="radio" checked id="roboto" name="fontselect" class="radio__input") 
            div(class="radio__letter radio__letter_roboto") 
              div(class="radio__letter-abs-wrapper")
                i(class="radio__letter-abs  radio__letter-abs_is--roboto")  R
            ul(class="radio__list")
              li(class="radio__list-item") Roboto doesn't compromise, allowing letters

          label(for="noto-sans" class="radio__label radio__label_is--noto-sans")
            input(type="radio" checked id="noto-sans" name="fontselect" class="radio__input") 
            div(class="radio__letter radio__letter_ns")
              div(class="radio__letter-abs-wrapper")
                i(class="radio__letter-abs  radio__letter-abs_is--noto-sans")  NS
            ul(class="radio__list")
              li(class="radio__list-item") Noto Sans covers over 30 scripts